{% extends 'base.html' %}
{% block title %} login {%  endblock %}
{% load static %}
{% block content %}
 {% load crispy_forms_tags %}



 <!-- Book An Oppointment Area Start -->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/12.jpg' %}');">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Log In To You Account</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Appointment Form -->
          <div class="appointment-form text-center">
            <form action="" method="post">
              {% csrf_token %}
              <div class="row">


                <div class="col-md-6  container">
                  <div class="form-group  mb-30">
                    {{form|crispy}}
                       </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" style="border-radius: 12px;" class="btn dento-btn">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Book An Oppointment Area End -->




{% endblock %}
