{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Book An Oppointment Area Start -->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'img/bg-img/2.jpg' %}');">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Select Barber</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Appointment Form -->
          <div class="container">
            <ul>
              {% for user in barbers %}
                <li class="list-group">
                    <a class="list-group-item text-center"  href="{%  url 'bookings' user.id %}">{{user.username}}</a>
                </li>
              <br>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Book An Oppointment Area End -->



{% endblock %}