{% extends 'base.html' %}
{% load static %}
{% block content %}


<br><br> <br>

    <section class="book-an-oppointment-area section-padding-100 bg-img  jarallax clearfix" style="background-image: url('{% static 'img/bg-img/1.PNG' %}');">

      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">

            <h2>صالون علي</h2>
 <span style="color:white;">10Am -- 12Am daily except monday</span><br><br>

            <button class="btn dento-btn " style="color:white;border-color: green; background-color:rgb(220,220,220, 0.4);">

                {{shop.open}}
                {% if shop.status is False %}
                <img src="{% static 'img/s-o.png' %}" width="25px" height="25px">
                {% else %}
                <img src="{% static 'img/s-c.png' %}"  width="25px" height="25px">
                {% endif %}

            </button><br><br>


      <br><br><br>

   < <form action="" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 container" style="border-radius: 12px;color:white;background-color:rgb(220,220,220, 0.4);">
                  <div class="form-group mb-30" style=" margin-top:25px; margin-bottom:0px;border-radius: 12px;color:white;background-color:rgb(220,220,220, 0.4);">
                    <input type="text" name="name" class="text-center form-control text-center"  style=" border-radius: 12px;color:white;background-color:rgb(220,220,220, 0.4);" placeholder="Enter Your Name" required>
                  </div>
                    <br><br>
                </div>
                  <br>
         <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn " style="border-radius: 12px;color:white;background-color:rgb(220,220,220, 0.4);">Book Now</button>
                </div>
              </div>
            </form>
<br><br>  <span style="color:white;">your turn will be in 1 hour and 30 minutes</span>
          </div>

        </div>
      </div>

    </section>



















<!--  &lt;!&ndash; ***** Welcome Area Start ***** &ndash;&gt;-->
<!--  <section class="welcome-area">-->
<!--    &lt;!&ndash; Welcome Slides &ndash;&gt;-->
<!--    <div class="welcome-slides owl-carousel">-->
<!--      &lt;!&ndash; Single Welcome Slide &ndash;&gt;-->
<!--      <div class=" bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'img/bg-img/1.jpg' %});">-->
<!--        <div class="container h-100">-->
<!--          <div class="row h-100 align-items-center">-->
<!--            <div class="col-12">-->
<!--              &lt;!&ndash; Welcome Text &ndash;&gt;-->
<!--              <div class="welcome-text text-center">-->
<!--            <h2 data-animation="fadeInDown" data-delay="100ms">We Believe Everyone Need a HairCut</h2>-->
<!--                <p data-animation="fadeInDown" data-delay="300ms"> Our HairStyles Make You LOOK ELEGANT-->
<!--              </p>-->

<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--        </div>-->
<!--  </section>-->



{% endblock %}
